<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="use_camera_control" default="false" />
  <arg name="robot" default="tiago" />

  <group if="$(arg use_camera_control)">
    <node pkg="tmc_gazebo_task_evaluators" type="wrs_camera_controller" 
      name="camera_controller" output="screen">
      <param name="target_model_name" value="$(arg robot)" />
    </node>
  </group>

  <node pkg="tmc_gazebo_task_evaluators" type="undesired_contact_detector" 
    name="undesired_contact_detector" output="screen">
    <param name="target_model_name" value="$(arg robot)" />
    <rosparam param="except_model_names">[wrc_ground_plane,'block*']</rosparam>
  </node>
  
  <!--<node pkg="tmc_gazebo_task_evaluators" type="hhcc_score_counter" name="hhcc_score_counter" output="screen">
    <param name="per_cleaned_object" value="100" />
    <param name="collision_per_second" value="-1" />
  </node>-->

  <node pkg="tmc_gazebo_task_evaluators" 
    type="wrs_score_counter" name="wrs_score_counter" output="screen">
  </node>

  <node pkg="tmc_gazebo_task_evaluators" type="object_in_box_detector" 
    name="foods_in_trayb_detector" output="screen">
    <param name="box_name" value="wc_tray_1" />
    <rosparam param="box_size">[0.48, 0.38, 0.02]</rosparam>
    <rosparam param="box_pose">[-2.70, -0.75, 0.4]</rosparam>
    <rosparam param="object_names">['task1_food*']</rosparam>
  </node>

  <node pkg="tmc_gazebo_task_evaluators" type="object_in_box_detector" 
    name="foods_in_traya_detector" output="screen">
    <param name="box_name" value="wc_tray_2" />
    <rosparam param="box_size">[0.48, 0.38, 0.02]</rosparam>
    <rosparam param="box_pose">[-2.70, -0.45, 0.4]</rosparam>
    <rosparam param="object_names">['task1_food*']</rosparam>
  </node>

  <node pkg="tmc_gazebo_task_evaluators" type="object_in_box_detector" 
    name="kitchenitems_in_containera_detector" output="screen">
    <param name="box_name" value="wrc_container_b" />
    <rosparam param="box_size">[0.28, 0.28, 0.125]</rosparam>
    <rosparam param="box_pose">[-2.70, 0.1, 0.4]</rosparam>
    <rosparam param="object_names">['task1_kitchenitem*']</rosparam>
  </node>

  <node pkg="tmc_gazebo_task_evaluators" type="object_in_box_detector" 
    name="any_in_containera_detector" output="screen">
    <param name="box_name" value="wrc_container_b" />
    <rosparam param="box_size">[0.28, 0.28, 0.125]</rosparam>
    <rosparam param="box_pose">[-2.70, 0.1, 0.4]</rosparam>
    <rosparam param="object_names">['task1*']</rosparam>
  </node>

  <node pkg="tmc_gazebo_task_evaluators" type="object_in_box_detector" name="any_in_trayb_detector" output="screen">
    <param name="box_name" value="wc_tray_1" />
    <rosparam param="box_size">[0.48, 0.38, 0.02]</rosparam>
    <rosparam param="box_pose">[-2.70, -0.75, 0.4]</rosparam>
    <rosparam param="object_names">['task1*']</rosparam>
  </node>

  <node pkg="tmc_gazebo_task_evaluators" type="object_in_box_detector" name="any_in_traya_detector" output="screen">
    <param name="box_name" value="wc_tray_2" />
    <rosparam param="box_size">[0.48, 0.38, 0.02]</rosparam>
    <rosparam param="box_pose">[-2.70, -0.45, 0.4]</rosparam>
    <rosparam param="object_names">['task1*']</rosparam>
  </node>
  
</launch>